.todo {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.todo-item {
  padding: 16px 12px;
  border-radius: 3px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.03);
  border: 1px solid #f5f5f5;
  margin-top: 10px;
}

.todo-item:first-child {
  margin-top: 0;
}

.inputBox {
  width: 100%;
  margin-bottom: 10px;
}

.todo-input {
  outline: none;
  font-size: 16px;
  width: 100%;
  color: #222222;
  font-weight: 300;
  box-sizing: border-box;
}

.todo-input::placeholder {
  color: #e5e5e5;
  font-weight: 300;
}

.todo-input:focus{
  color: #666666;
}
