.footer {
  padding: 20px 0;
  text-align: center;
}

.footer .explain {
  font-size: 16px;
  padding: 5px 0;
  margin: 0;
  color: #909399;
}

.footer .copyright {
  font-size: 12px;
  margin: 0;
  color: #909399;
}

.footer .copyright a {
  color: #909399;
  text-decoration: none;
}

.footer .copyright a:hover {
  text-decoration: underline;
}